body{
    background-color: #F0CC7E;
}
@media (min-width:1000px) and (max-width:1600px) {
    .grid-container{
        display: grid;
        grid-template-columns: repeat(3,auto);
        grid-template-rows: repeat(10,auto);
        row-gap: 10px;
    }
    .grid1{
        grid-column: 1/4;
        grid-row:1/2;
        height:140px;
        background-color: blueviolet;
    }
    .chania{
        color:white;
        font-size: 2.7em;
        margin: 40px 30px;
    }
    .grid2{
        grid-column:1/2;
        grid-row:2/3;
        height: 50px;
        width:400px;
        background-color: dodgerblue;
    }
    .grid3{
        grid-column: 1/2;
        grid-row: 3/4;
        height: 50px;
        width:400px;
        background-color: dodgerblue;
    }
    .grid4{
        grid-column: 1/2;
        grid-row: 4/5;
        height: 50px;
        width:400px;
        background-color: dodgerblue;
    }
    .grid5{
        grid-column: 1/2;
        grid-row: 5/6;
        height: 50px;
        width:400px;
        background-color: dodgerblue;
    }
    .grid2,.grid3,.grid4,.grid5{
        color:white;
        font-size: 1.5em;
        margin:auto 15px;
    }
    .first{
        /* padding: 0 5px; */
        margin: 10px;
    }
    .grid6{
        grid-column: 2/3;
        grid-row: 2/10;
        height: 400px;
        background-color: transparent;
        padding: 30px 50px 30px 30px;
    }
    .grid7{
        grid-column: 3/4;
        grid-row: 2/8;
        height: 350px;
        width: 300px;
        background-color: dodgerblue;
        color: white;
        text-align: center;
        margin:0 15px;
    }
    .content{
        padding: 15px 0;
    }
    .grid8{
        grid-column: 1/4;
        grid-row: 8/9;
        height: 80px;
        background-color: skyblue;
        color: white;
        font-size: 1.2em;
    }
    .last{
        text-align: center;
        margin-top: 30px;
    } 
    .city{
        font-size: 1.3em;
    }
}
/* tab view */
@media (min-width:300px) and (max-width:1000px) {
    .grid-container{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(8,auto);
        row-gap: 10px;
    }
    .grid1{
        grid-column: 1/2;
        grid-row: 1/2;
        background-color: blueviolet;
        height: 100px;
        color: white;
    }
    .city{
        font-size:1em ;
    }
    .chania{
        font-size: 2.5em;
        margin: 20px 50px;
    }
    .grid2{
        grid-column: 1/2;
        grid-row: 2/3;
        background-color: dodgerblue;
        height: 40px;
        color: white;
        font-size: 1.3em;
        margin: 0 20px;
    }
    .grid3{
        grid-column: 1/2;
        grid-row: 3/4;
        background-color: dodgerblue;
        height: 40px;
        color: white;
        font-size: 1.3em;
        margin: 0 20px;
    }
    .first{
        margin: 10px 20px;
    }
    .grid4{
        grid-column: 1/2;
        grid-row: 4/5;
        background-color: dodgerblue;
        height: 40px;
        color: white;
        font-size: 1.3em;
        margin: 0 20px;
    }
    .grid5{
        grid-column: 1/2;
        grid-row: 5/6;
        background-color: dodgerblue;
        height: 40px;
        color: white;
        font-size: 1.3em;
        margin: 0 20px;
    }
    .grid6{
        grid-column: 1/2;
        grid-row: 6/7;
        background-color: transparent;
        height:200px;
        font-size: 1.3em;
        margin: 0 20px;
        padding: 20px 0 0 0;
    }
    .grid7{
        grid-column: 1/2;
        grid-row: 7/8;
        background-color: dodgerblue;
        height: 370px;
        color: white;
        font-size: 1.3em;
        margin: 0 20px;
        text-align: center;
    }
    .grid8{
        grid-column: 1/2;
        grid-row: 8/9;
        background-color: skyblue;
        height: 70px;
        color: white;
        text-align: center;
    }
    .last{
        margin: 25px;
    }
}